<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISCS</title>
</head>
<body>

    <a href="http://127.0.0.1:8000"><h3>Main page</h3></a>
    <h1>Страница Discs</h1>
    <img src="http://replicawheel.com.ua/img/logo2.png"
         alt="Disc"
         height="200"
         width="400">
    <h2>Сортировка по радиусу:</h2>
    {% if disc %}
        {% for element in disc %}
            <div class="alert alert-warning">
                <h3>R-{{ element.diametr }} {{ element.brand }}</h3>
                <p>{{ element.model }} - {{ element.color }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет данных. :(</p>
    {% endif %}
</body>
</html>
