<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<style>

        body {
	        background-image: url("https://cdn.riastatic.com/photosnewr/ria/news_common/kakie-diski-postavit-na-avtomobil__223372-1680x0.webp");
        }

   h1 {
    color: gray;
    background-color: orange;
    width: 50%;
    text-align: center;
    padding: 10px;
    font-family: Arial;
   }
   h3 {
    color: orange;
    font-size: 20px;
    background-color: #ffc;
    width: 50%;
    text-align: center;
    padding: 5px;
    font-family: Arial;
   }
  </style>
<body>
    <h1>Главная страница</h1>
    <a href="http://127.0.0.1:8000/rubber"><h3>Rubber</h3></a>
    <a href="http://127.0.0.1:8000/discs"><h3>Discs</h3></a>
    <a href="http://127.0.0.1:8000/admin"><h3>Admin</h3></a>
</body>
</html>
